<!-- Parameters: restaurantId, restaurantName, restaurantFriendlyUrl, menu, combinedMenuList (optional) -->
<% combinedMenuList = typeof (combinedMenuList) === 'boolean' && combinedMenuList /* handling optional parameter */ %>
<% chatGptPowered = typeof (chatGptPowered) === 'boolean' && chatGptPowered /* handling optional parameter */ %>

<div class="card restaurant <%= restaurantId %>" id="<%= restaurantId %>">
    <h3 class="card-header">
        <span><%= restaurantName %></span>
        <% if(chatGptPowered) { %>
            <a href="https://openai.com/" target="_blank">
                <img src="images/ChatGPT_logo.svg" alt="Logo von ChatGPT"
                     title="Diese Zusammenfassung wurde mit künstlicher Intelligenz erstellt und basiert auf den vom Restaurant im Internet veröffentlichten Menü."
                     height="25px">
            </a>
        <% } %>
        <a class="link-icon" target="_blank" href="<%= restaurantFriendlyUrl %>">
            <i class="fa fa-globe-americas" aria-hidden="true"></i>
        </a>
    </h3>

    <div class="card-body">
        <% menuState = menuStateHelper.getMenuState(restaurantId, menu, day) %>
        <% if(!menuStateHelper.isDefaultState(menuState)) { %>
            <%- include('infos/infos', { restaurantId, restaurantFriendlyUrl, menuState }) %>
        <% } else if(combinedMenuList){ %>
            <%- include('menu-lists/combined-menu-list', { menu }) %>
            <!--<% if(restaurantId === 'hotspot' && day === moment().day() - 1) { %>
                <ul class="list-group combined-menu-list-group">
                    <li class="list-group-item">
                        <%- include('hotspot-special/image') %>
                        <%- include('hotspot-special/upload') %>
                    </li>
                </ul>
            <% } %>-->
        <% } else { %>
            <%- include('menu-lists/menu-list', { menu }) %>
        <% } %>
    </div>
</div>