<%- include('partials/common/header.ejs') %>

<style>
    body {
        background: none;
    }

    .options * {
        margin-right: 10px;
    }

    ul {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 0;
    }

    li {
        margin-bottom: 3px;
    }

    table {
        font-size: 8pt;
    }

    th {
        text-align: left;
    }

    .new-page {
        page-break-after: always;
    }

    .namecol {
        font-size: 13px;
    }

    td > .name {
        /*transform: rotate(-90deg);*/
        /*text-align: right;*/
        /*vertical-align: inherit;*/
        font-weight: bold;
    }

    table td, table td * {
        vertical-align: top;
    }

    .table table td {
        border-top: none;
        padding: 0;
    }

    @media print {
        @page {
            size: landscape
        }

        .namecol {
            vertical-align: middle !important;
            padding: 0.25rem !important;
        }

        td > .name {
            display: flex;
            -webkit-transform: rotate(-90deg);
            text-align: right;
            vertical-align: inherit;
            font-weight: bold;
            width: 2rem !important;
        }

        .print-hidden {
            display: none;
        }
    }
</style>
<div class="d-flex flex-column align-items-start">
    <div class="options d-flex flex-row align-items-center">
        <a class="mt-1 ml-1 btn btn-dark btn-sm print-hidden" href="/">Zur端ck zur Tagesansicht</a>

        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="<%= restaurants.mensa.id %>" checked
                   onclick="toggleRow('<%= restaurants.mensa.id %>');">
            <label class="custom-control-label" for="<%= restaurants.mensa.id %>"><%= restaurants.mensa.name %></label>
        </div>
        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="<%= restaurants.interspar.id %>" checked
                   onclick="toggleRow('<%= restaurants.interspar.id %>');">
            <label class="custom-control-label"
                   for="<%= restaurants.interspar.id %>"><%= restaurants.interspar.name %></label>
        </div>
        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="<%= restaurants.uniWirt.id %>" checked
                   onclick="toggleRow('<%= restaurants.uniWirt.id %>');">
            <label class="custom-control-label"
                   for="<%= restaurants.uniWirt.id %>"><%= restaurants.uniWirt.name %></label>
        </div>
        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="<%= restaurants.daMario.id %>" checked
                   onclick="toggleRow('<%= restaurants.daMario.id %>');">
            <label class="custom-control-label"
                   for="<%= restaurants.daMario.id %>"><%= restaurants.daMario.name %></label>
        </div>
        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="<%= restaurants.bitsAndBytes.id %>" checked
                   onclick="toggleRow('<%= restaurants.bitsAndBytes.id %>');">
            <label class="custom-control-label"
                   for="<%= restaurants.bitsAndBytes.id %>"><%= restaurants.bitsAndBytes.name %></label>
        </div>
        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="<%= restaurants.hotspot.id %>" checked
                   onclick="toggleRow('<%= restaurants.hotspot.id %>');">
            <label class="custom-control-label"
                   for="<%= restaurants.hotspot.id %>"><%= restaurants.hotspot.name %></label>
        </div>
    </div>
    <h2 class="mx-auto">Wochenplan
        <%= moment().day(1).format('DD.MM') %> - <%= moment().day(5).format('DD.MM.YYYY') %> </h2>
</div>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Montag</th>
        <th>Dienstag</th>
        <th>Mittwoch</th>
        <th>Donnerstag</th>
        <th>Freitag</th>
    </tr>
    </thead>
    <tbody>
    <tr class="<%= restaurants.mensa.id %>">
        <td class="namecol"><span class="name"><%= restaurants.mensa.name %></span></td>

        <% for(let i = 0; i < 5; i++) { %>
            <td class="datacol">
                <ul>
                    <% mensa[i].mains.forEach(function (menu) { %>
                        <% menu.entries.forEach(function (menuItem) { if (menuItem.name != "") { %>
                            <li><%= menuItem.name %></li>
                        <% }}); %>
                        <br>
                    <% }); %>
                </ul>
            </td>
        <% } %>
    </tr>

    <tr class="<%= restaurants.interspar.id %>">
        <td class="namecol"><span class="name"><%= restaurants.interspar.name %></span></td>

        <% for(let i = 0; i < 5; i++) { %>
            <td class="datacol">
                <ul>
                    <% interspar[i].mains.forEach(function (menu, index, mains) { %>
                        <li class="<%= index !== mains.length - 1 ? "mb-2" : "" %>">
                            <%= menu.name %>
                            <br>
                            <% menu.entries.forEach(function (food) { %>
                                <%= food.name %>
                                <br>
                            <% }); %>
                        </li>
                    <% }); %>
                </ul>
            </td>
        <% } %>
    </tr>

    <tr class="<%= restaurants.uniWirt.id %>">
        <td class="namecol"><span class="name"><%= restaurants.uniWirt.name %></span></td>

        <% for(let i = 0; i < 5; i++) { %>
            <td class="datacol">
                <ul class="mains">
                    <% uniWirt[i].mains.forEach(function (menu, index, mains) { %>
                        <li class="<%= index !== mains.length - 1 ? "mb-2" : "" %>">
                            <%= menu.name %>
                            <br>
                            <%= menu.entries[0].name %>

                            <% if(menu.entries.length === 2) { %>
                                <br>
                                <%= menu.entries[1].name %>
                            <% } %>
                        </li>
                    <% }); %>
                </ul>
            </td>
        <% } %>
    </tr>

    <tr class="<%= restaurants.daMario.id %>">
        <td class="namecol"><span class="name"><%= restaurants.daMario.name %></span></td>
        <td class="datacol" colSpan="5">
            <table>
                <tr>
                    <td>
                        <ul class="mains">
                            <li><strong>Hauptspeisen f端r gesamte Woche</strong></li>
                            <% daMario[1].mains.forEach(function (menu, index, mains) { %>
                                <li class="<%= index !== mains.length - 1 ? "mb-2" : "" %>">
                                    <%= menu.name %>
                                    <br>
                                    <% menu.entries.forEach(function (food) { %>
                                        <%= food.name %>
                                        <br>
                                    <% }); %>
                                </li>
                            <% }); %>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="<%= restaurants.bitsAndBytes.id %>">
        <td class="namecol"><span class="name"><%= restaurants.bitsAndBytes.name %></span></td>
        <td class="datacol" colSpan="5">
            <table>
                <tr>
                    <td>
                        <ul class="mains">
                            <li><strong>Hauptspeisen f端r gesamte Woche</strong></li>
                            <% bitsAndBytes[0].mains.forEach(function (menu, index, mains) { %>
                                <li class="<%= index !== mains.length - 1 ? "mb-2" : "" %>">
                                    <%= menu.name %>
                                    <br>
                                    <%= menu.entries[0].name %>
                                </li>
                            <% }); %>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="<%= restaurants.hotspot.id %>">
        <td class="namecol"><span class="name"><%= restaurants.hotspot.name %></span></td>
        <td class="datacol" colSpan="4">
            <table>
                <tr>
                    <td>
                        <ul class="mains">
                            <li><strong>Hauptspeisen f端r gesamte Woche</strong></li>
                            <% hotspot[0].mains.forEach(function (menu, index, mains) { %>
                                <li class="<%= index !== mains.length - 1 ? "mb-2" : "" %>">
                                    <%= menu.name %>
                                    <br>
                                    <%= menu.entries[0].name %>
                                </li>
                            <% }); %>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function toggleRow(name) {
        var cb = document.getElementById(name);
        var row = document.getElementsByClassName(name)[0];

        if (!cb || !row)
            return;

        row.style.display = cb.checked ? '' : 'none';
    }
</script>

</body>
</html>